/* Hide the default scrollbar */
.custom-scrollbar {
  scrollbar-width: inherit; /* For Firefox */
  scrollbar-color: #0e1113; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* For Chrome, Safari, and Opera */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0e1113;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #0e1113;
}
